
/* Home Page */

.mainBlue{
    color: #000000;
}

.text {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
	font-size: 5rem;
    color: #000000;
	.wrapper {
		padding-left: 10px;
		padding-right: 10px;
		.letter {
			transform: translateY(40%);
            transition: ease-in 3s, ease-out 2s;
		}
		.shadow {
			      transition: ease-in 2s, ease-out 3s;
            transform: scale(1, -1);
			      color: #929191;
		}
		&:hover {
			.letter {
                color: #ff0000;
                opacity: 0;
				        transform: translateY(-50%);
			}
			.shadow {
                color: #ff0000;
				opacity: 0;
				transform: translateY(100%);
			}
		}
	}
}

/* About */ 

.bton{
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #000000;
	font-weight: 500;
	border: 2px solid #000000;
	border-radius: 0.5rem;
  }
.bton:hover{
	color: #000000;
	background-color: #ffffff;
}



/* projects */

.projects{
	width: 100%;
	height: 100%;
	box-shadow: 1px 1px 20px rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}



/* Sidebar Page */

.sidebar {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
	  border: 2px solid rgba(75, 75, 75, 0.3);
	  border-radius: 0.7rem;
    gap: 50px;
    z-index: 4;
  }
  
  .linkIcon {
    color: #4b4b4b;
    filter: drop-shadow(1px 1px 30px #ff0000); 
  }
  
  .linkIcon:hover{
    color: #000000;
  }

  @media (max-width: 1100px) {
    .sidebar {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 20px;
      margin-top: 5rem;
    }
  }